<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
        <welcome-file-list>
        <welcome-file>beforeLoginHomeView</welcome-file>
    </welcome-file-list>
   
    <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>connectionString</param-name>
        <param-value>jdbc:mysql://localhost:3306/ipms</param-value>
    </context-param>
    <context-param>
        <param-name>db_user_name</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db_user_password</param-name>
        <param-value>jpss@1277</param-value>
    </context-param>
    <!-- Start of WebServices -->
    <servlet>
        <servlet-name>Servlet dispatcher</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.healthDepartment.webServices</param-value>
        </init-param>
    </servlet>
    <!--    <servlet> 
        <servlet-name>TripSchedularController</servlet-name>
        <servlet-class>com.healthDepartment.vehicleTrip.controller.TripSchedularController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>TimeSchedulerController</servlet-name>
        <servlet-class>com.healthDepartment.general.controller.TimeSchedulerController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>Servlet dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HealthDepartmentWebServices</servlet-name>
        <servlet-class>com.healthDepartment.webService.HealthDepartmentWebServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- End of WebServices -->
    <!--start of Login -->
    <servlet>
        <servlet-name>VehicleNewController</servlet-name>
        <servlet-class>com.healthDepartment.vehicle.controller.VehicleNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleNewController</servlet-name>
        <url-pattern>/VehicleNewController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>liveDeviceList</servlet-name>
        <servlet-class>com.healthDepartment.devicevehicle.controller.liveDeviceListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>liveDeviceList</servlet-name>
        <url-pattern>/liveDeviceList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>before_login_home</servlet-name>
        <jsp-file>/view/login/before_login_home.jsp</jsp-file>
    </servlet>
<!--    <servlet>
        <servlet-name>OTP</servlet-name>
        <jsp-file>/view/login/OTP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/OTP</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>before_login_home</servlet-name>
        <url-pattern>/beforeLoginHomeView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.healthDepartment.general.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <!--end of Login -->
    <!-- Start of Organisation Controllers -->
    <servlet>
        <servlet-name>DataEntry orgDetailEntryView</servlet-name>
        <jsp-file>/view/organization/orgDetailEntry.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgDetailEntryView</servlet-name>
        <url-pattern>/orgDetailEntryView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgDetailEntryCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrgDetailEntryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgDetailEntryCont</servlet-name>
        <url-pattern>/orgDetailEntryCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgName_view</servlet-name>
        <jsp-file>/view/organization/organization_name.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgName_view</servlet-name>
        <url-pattern>/orgName_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgNameCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrganisationNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgNameCont</servlet-name>
        <url-pattern>/orgNameCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry organisation_view</servlet-name>
        <jsp-file>/view/organization/orgOffice.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry organisation_view</servlet-name>
        <url-pattern>/organisation_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry organisationCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrgOfficeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry organisationCont</servlet-name>
        <url-pattern>/organisationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry OrgOfficeType_view</servlet-name>
        <jsp-file>/view/organization/org_office_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry OrgOfficeType_view</servlet-name>
        <url-pattern>/orgOfficeType_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgOfficeTypeCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrgOfficeTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgOfficeTypeCont</servlet-name>
        <url-pattern>/orgOfficeTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgType_view</servlet-name>
        <jsp-file>/view/organization/organisation_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgType_view</servlet-name>
        <url-pattern>/orgType_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgTypeCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrganisationTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgTypeCont</servlet-name>
        <url-pattern>/orgTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgSubType_view</servlet-name>
        <jsp-file>/view/organization/organisationSubType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgSubType_view</servlet-name>
        <url-pattern>/orgSubType_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry OrganisationSubTypeCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrganisationSubTypeCont</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry OrganisationSubTypeCont</servlet-name>
        <url-pattern>/organisationSubTypeCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry organisationMap_view</servlet-name>
        <jsp-file>/view/organization/organisationMap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry organisationMap_view</servlet-name>
        <url-pattern>/organisationMap_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry OrganisationMapCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrganisationMapCont</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry OrganisationMapCont</servlet-name>
        <url-pattern>/mapOrgCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Client Associate Mapping View</description>
        <servlet-name>DataEntry orgClientAssoMap_view</servlet-name>
        <jsp-file>/view/organization/org_client_asso_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgClientAssoMap_view</servlet-name>
        <url-pattern>/orgClientAssoMap_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry orgClientAssoMapCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.OrgClientAssoMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry orgClientAssoMapCont</servlet-name>
        <url-pattern>/orgClientAssoMapCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry designation_view</servlet-name>
        <jsp-file>/view/organization/designation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry designation_view</servlet-name>
        <url-pattern>/designation_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry designationCont</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.DesignationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry designationCont</servlet-name>
        <url-pattern>/designationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry keyPerson_view</servlet-name>
        <jsp-file>/view/organization/keyperson.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry keyPerson_view</servlet-name>
        <url-pattern>/keyPerson_view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry personCount</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.KeypersonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry personCount</servlet-name>
        <url-pattern>/personCount.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeOfOccupationController</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.TypeOfOccupationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeOfOccupationController</servlet-name>
        <url-pattern>/TypeOfOccupationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeOfOccupation</servlet-name>
        <jsp-file>/view/organization/type_of_occupation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeOfOccupation</servlet-name>
        <url-pattern>/typeofoccupation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BeneficiaryController</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.BeneficiaryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeneficiaryController</servlet-name>
        <url-pattern>/BeneficiaryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Beneficiary</servlet-name>
        <jsp-file>/view/organization/beneficiary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Beneficiary</servlet-name>
        <url-pattern>/beneficiary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RwaController</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.RwaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RwaController</servlet-name>
        <url-pattern>/RwaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Rwa</servlet-name>
        <jsp-file>/view/organization/rwa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rwa</servlet-name>
        <url-pattern>/rwa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RwaBeneficiaryController</servlet-name>
        <servlet-class>com.healthDepartment.organization.controller.RwaBeneficiaryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RwaBeneficiaryController</servlet-name>
        <url-pattern>/RwaBeneficiaryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RwaBeneficiary</servlet-name>
        <jsp-file>/view/organization/rwa_beneficiary_mapping.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RwaBeneficiary</servlet-name>
        <url-pattern>/rwaBeneficiary</url-pattern>
    </servlet-mapping>
    <!-- End of Organisation Controllers -->
    <!--Start of city Loaction-->
    <servlet>
        <servlet-name>cityController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.CityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cityController</servlet-name>
        <url-pattern>/cityTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cityView</servlet-name>
        <jsp-file>/view/location/cityView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cityView</servlet-name>
        <url-pattern>/cityView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tehsilView</servlet-name>
        <jsp-file>/view/location/tehsilView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tehsilView</servlet-name>
        <url-pattern>/tehsilView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TehsilController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.TehsilController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TehsilController</servlet-name>
        <url-pattern>/tehsilTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>country</servlet-name>
        <jsp-file>/view/location/country.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>country</servlet-name>
        <url-pattern>/country</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CountryController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.CountryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryController</servlet-name>
        <url-pattern>/countryCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>districtController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.DistrictController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>districtController</servlet-name>
        <url-pattern>/districtTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>districtView</servlet-name>
        <jsp-file>/view/location/districtView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>districtView</servlet-name>
        <url-pattern>/districtView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>divisionController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.DivisionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>divisionController</servlet-name>
        <url-pattern>/divisionTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>divisionView</servlet-name>
        <jsp-file>/view/location/divisionView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>divisionView</servlet-name>
        <url-pattern>/divisionView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stateutController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.StateutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stateutController</servlet-name>
        <url-pattern>/stateutTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stateutView</servlet-name>
        <jsp-file>/view/location/stateutView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>stateutView</servlet-name>
        <url-pattern>/stateutView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zoneView</servlet-name>
        <jsp-file>/view/location/zoneView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>zoneView</servlet-name>
        <url-pattern>/zoneView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zoneNewController</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.ZoneNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zoneNewController</servlet-name>
        <url-pattern>/zoneTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zoneNewView</servlet-name>
        <jsp-file>/view/location/zoneNewView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>zoneNewView</servlet-name>
        <url-pattern>/zoneNewView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cityLocation</servlet-name>
        <jsp-file>/view/location/cityLocation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cityLocation</servlet-name>
        <url-pattern>/cityLocationView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CityLocationCont</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.CityLocationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityLocationCont</servlet-name>
        <url-pattern>/cityLocationCont</url-pattern>
    </servlet-mapping>
    <!--End of City Location-->
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Data Entry Start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--    <servlet>
        <servlet-name>DataEntry AutoController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.AutoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry AutoController</servlet-name>
        <url-pattern>/autoController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry AutoView</servlet-name>
        <jsp-file>/view/dataEntry/autoView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry AutoView</servlet-name>
        <url-pattern>/autoController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DestinationController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.DestinationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DestinationController</servlet-name>
        <url-pattern>/destinationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry DestinationView</servlet-name>
        <jsp-file>/view/dataEntry/destinationView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry DestinationView</servlet-name>
        <url-pattern>/destinationView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SourceDestinationController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.SourceDestinationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SourceDestinationController</servlet-name>
        <url-pattern>/sourceDestinationCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry SourceDestinationView</servlet-name>
        <jsp-file>/view/dataEntry/sourceDestinationView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry SourceDestinationView</servlet-name>
        <url-pattern>/sourceDestinationView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.VehicleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/vehicleCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry VehicleView</servlet-name>
        <jsp-file>/view/dataEntry/vehicleView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry VehicleView</servlet-name>
        <url-pattern>/vehicleView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> ViewImage</servlet-name>
        <jsp-file>/view/dataEntry/vehicleimage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name> ViewImage</servlet-name>
        <url-pattern>/ImagesView</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet>
        <servlet-name>GeneralController</servlet-name>
        <servlet-class>com.prepaid.general.controller.GeneralController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralController</servlet-name>
        <url-pattern>/generalCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry TarrifController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.TarrifController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry TarrifController</servlet-name>
        <url-pattern>/tarrifCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry TarrifView</servlet-name>
        <jsp-file>/view/dataEntry/tarrifView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry TarrifView</servlet-name>
        <url-pattern>/tarrifView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry KeyPersonController</servlet-name>
        <servlet-class>com.prepaid.dataEntry.conteroller.KeyPersonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry KeyPersonController</servlet-name>
        <url-pattern>/keypersonCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataEntry KeyPersonView</servlet-name>
        <jsp-file>/view/dataEntry/keyperson.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntry KeyPersonView</servlet-name>
        <url-pattern>/keypersonview</url-pattern>
    </servlet-mapping>-->
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Data Entry End @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--                   Start   Shift                     -->
    <servlet>
        <servlet-name>ShiftShowController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftShowController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftShowController</servlet-name>
        <url-pattern>/ShiftShowController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftController</servlet-name>
        <url-pattern>/ShiftController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftKeyPersonMapController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftKeyPersonMapController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftKeyPersonMapController</servlet-name>
        <url-pattern>/ShiftKeyPersonMapController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftLoginController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftLoginController</servlet-name>
        <url-pattern>/shiftLoginCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftTimeController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftTimeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftTimeController</servlet-name>
        <url-pattern>/ShiftTimeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftDesinationLocationController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftDesinationLocationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftDesinationLocationController</servlet-name>
        <url-pattern>/ShiftDesinationLocationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Shift</servlet-name>
        <jsp-file>/view/shift/shift.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Shift</servlet-name>
        <url-pattern>/shift</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftDesignationLocation</servlet-name>
        <jsp-file>/view/shift/shift_designation_location_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftDesignationLocation</servlet-name>
        <url-pattern>/shiftdesignationlocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftTime</servlet-name>
        <jsp-file>/view/shift/shifttime.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftTime</servlet-name>
        <url-pattern>/shifttime</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftKeyPersonMap</servlet-name>
        <jsp-file>/view/shift/shift_key_person_map.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftKeyPersonMap</servlet-name>
        <url-pattern>/shiftkeypersonmap</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftShow</servlet-name>
        <jsp-file>/view/shift/show.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftShow</servlet-name>
        <url-pattern>/shiftshow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LocationTypeController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.LocationTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationTypeController</servlet-name>
        <url-pattern>/LocationTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LocationType</servlet-name>
        <jsp-file>/view/shift/location_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationType</servlet-name>
        <url-pattern>/locationtype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DesignationLocationTypeController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.DesignationLocationTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DesignationLocationTypeController</servlet-name>
        <url-pattern>/DesignationLocationTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DesignationLocationType</servlet-name>
        <jsp-file>/view/shift/designation_location_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DesignationLocationType</servlet-name>
        <url-pattern>/designationlocationtype</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftReasonController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.ShiftReasonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftReasonController</servlet-name>
        <url-pattern>/shiftReasonCont.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShiftReason</servlet-name>
        <jsp-file>/view/shift/shiftReason.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShiftReason</servlet-name>
        <url-pattern>/shiftreason</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendenceController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.AttendenceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendenceController</servlet-name>
        <url-pattern>/AttendenceController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Attendence</servlet-name>
        <jsp-file>/view/shift/attendence.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attendence</servlet-name>
        <url-pattern>/attendence</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendenceViewController</servlet-name>
        <servlet-class>com.healthDepartment.shift.controller.AttendenceViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendenceViewController</servlet-name>
        <url-pattern>/AttendenceViewController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttendenceView</servlet-name>
        <jsp-file>/view/shift/attendence_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendenceView</servlet-name>
        <url-pattern>/attendenceview</url-pattern>
    </servlet-mapping>
    <!--                   End   Shift                     -->
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!---@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Ward Controller@@@@@@@@@@@@@@@@@@@@@@-->
    <servlet>
        <servlet-name>WardView</servlet-name>
        <jsp-file>/view/location/wardView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WardView</servlet-name>
        <url-pattern>/wardView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wardTypeCont</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.WardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wardTypeCont</servlet-name>
        <url-pattern>/wardTypeCont</url-pattern>
    </servlet-mapping>
    <!--Start of Area Controller -->
    <servlet>
        <servlet-name>Area_Type_View</servlet-name>
        <jsp-file>/view/location/areaView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Area_Type_View</servlet-name>
        <url-pattern>/area_TypeView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AreaTypeCont</servlet-name>
        <servlet-class>com.healthDepartment.location.controller.AreaTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaTypeCont</servlet-name>
        <url-pattern>/areaTypeCont</url-pattern>
    </servlet-mapping>
    <!--end of Area  Controller -->
   
    <servlet>
        <servlet-name>GeneralController</servlet-name>
        <servlet-class>com.healthDepartment.general.controller.GeneralController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralController</servlet-name>
        <url-pattern>/generalCont.do</url-pattern>
    </servlet-mapping>

  

    
 
   
    <!--start Model type-->
   
 
   
  
    
   
      
   
    <servlet>
        <servlet-name>TestingForComboOption</servlet-name>
        <servlet-class>com.healthDepartment.vehicle.controller.TestingForComboOptionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestingForComboOption</servlet-name>
        <url-pattern>/TestingForComboOption</url-pattern>
    </servlet-mapping>
    
<!--    for Work Type Start  -->
    
    <servlet>
        <servlet-name>workTypeController</servlet-name>
        <servlet-class>com.ipms.ePass.controller.WorkTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>workTypeController</servlet-name>
        <url-pattern>/workTypeCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>workType</servlet-name>
        <jsp-file>/view/ePass/workType.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>workType</servlet-name>
        <url-pattern>/workType</url-pattern>
    </servlet-mapping>
    
   <!--  Work Type End  -->
   
   
   <!--    for E-Pass Start  -->
    
    <servlet>
        <servlet-name>ePassController</servlet-name>
        <servlet-class>com.ipms.ePass.controller.ePassController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ePassController</servlet-name>
        <url-pattern>/ePassCont</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ePassView</servlet-name>
        <jsp-file>/view/ePass/e-Pass.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ePassView</servlet-name>
        <url-pattern>/ePassView</url-pattern>
    </servlet-mapping>
    
   <!--  E-Pass End  -->
   
   
   
    
    
    
</web-app>
